@font-face {
  font-family:'CustomFont' ;
  src: url('/GoldenRatioDemoRegular-VLw6.ttf');
}

*{
  margin: 0;
  padding: 0;
  font-family: 'CustomFont';
}


.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  
}
.display{
  border-bottom: 2px solid black;
  background-color: #EEEEEE;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  gap: 3rem;
}
.listadoRectangulos{
  border-top: 2px solid black;
  background-color: #508C9B;
  height: 100%;
  color: #EEEEEE;
}
.rectanguloInfo{
  padding: 1rem;

}
form{
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.rectangulo{
  border: 5px solid #201E43;
  width: 2;
  transition: height .5s,width .5s;
  position: relative;
}
.ladoALabel{
  position: absolute;
  rotate: -90deg;
  right: 101%;
  top: 50%;
  width: 3rem;

  
}

.ladoBLabel{
  position: absolute;
  left: 50%;
  top: 101%;

  
}