*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.listadoAlumnos{
display: flex;
flex-direction: column;
width: 50%;
justify-content: flex-start;
gap: 1rem;
}

.agregarAlumnos{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #000000c2;
}