@font-face { font-family: 'calculadoraFont'; 
  src: url('/fonts/Digital7-rg1mL.ttf') format('truetype'); font-weight: normal; font-style: normal; }

* {
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
.calculadoraDiv{
  background-color:black;
  height:80vh ;
  width: 30vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display{
  font-family: 'calculadoraFont';
  height: 12vh;
  width: 100%;
  background-color: #505050;
  border: 1px solid white;
  border-radius: 1px;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
}
.indicadorNum{
  position: absolute;
  left: 0;
  top: 6rem;
  padding-left: 2rem;
}
.displayTexto{
  font-size: 3rem;
}

.numeros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% ;
  height: 50vh;
  padding: 1rem;
}
.fila,.filaend{
  display: flex;
  gap: 1rem;
  width: 33vw;
  height: 60vh;
  justify-content: center;
  align-items: center;


}

.num,.operador{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1C;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: #fff;
  font-size: large;
  font-weight: bold;
}
.operador{
  background-color: #FF9500;
}

.historial {
  background-color: black;
  width: 40vw;
  height: 80vh;
  padding: 1rem;
  color: #fff;
  font-family:'calculadoraFont';
  overflow-y: scroll;

}

.containerHistorial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1px;
}

.sumas,.restas,.multiplicaciones,.divisiones{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color:#0e0d0d;
  width: 30vw;
  height: 30vh;
  padding: .3rem;
}

.editable{
  width: fit-content;
  padding: 1px;
  display: flex;
  gap: .2rem;
  
}